@use "../../../../styles/utilities/layout";
@use "../../../../styles/utilities/image-card";
@use "../../../../styles/utilities/image-card-details-text";

.image-card {
	background-color: var(--secondary-a-color-2);
	color: var(--primary-color-4);

	.card-details {
		display: contents; // Magic!
		.card-details-content {
			// Mystery how it's filling out the parent height automatically
			@include image-card-details-text.content;
		}
	}
}

.image-card[data-orientation="horizontal"] {
	@include image-card.horizontal;
}

.image-card:is([data-orientation="vertical"], [data-orientation="flexible"]) {
	@include image-card.vertical;
}

@media (min-width: layout.get-widescreen-bp()) {
	.image-card[data-orientation="flexible"] {
		@include image-card.horizontal;
	}
}
