@mixin title {
	font-size: calc(1.9rem + 0.2vw);
	color: var(--secondary-color-4);
	overflow: hidden;
}

@mixin body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	font-size: calc(1.3rem + 0.2vw);
}

@mixin footnote {
	font-size: 1.2rem;
}
