@use "../../../../styles/utilities/theme";

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50vh;
	padding: 2em;
	background: linear-gradient(
		to right,
		var(--secondary-color-1),
		var(--secondary-a-color-2),
		var(--secondary-color-1)
	);
	color: var(--primary-color-4);

	.text {
		font-family: var(--accent-font);
		font-size: 10rem;
	}
}
