@use "../../../../styles/utilities/container";
@use "../../../../styles/utilities/flexible-container";

.footer {
	@include container.wrapper;
	color: var(--secondary-color-1);
	font-size: 0.88rem;

	.footer-container {
		display: flex;
		flex-wrap: wrap;
		padding: 3em;
		justify-content: center;
		align-items: center;
		gap: 2em;
		min-height: 10em;
		background-color: var(--primary-color-4);
	}
	.copyright {
		min-width: fit-content;
		text-align: center;
	}
	hr {
		width: 75vw;
		border-top: 1px solid var(--secondary-color-1);
	}
	.socials {
		@include flexible-container.horizontal(0.94rem);
		font-size: 1.25rem;
	}
}
