@keyframes skeleton-loading {
	0% {
		background-color: #00080a90;
	}

	100% {
		background-color: #88888890;
	}
}

%skeleton-animation {
	opacity: 0.7;
	animation: skeleton-loading 1s linear infinite alternate;
}

.art-image-skeleton {
	max-height: 100%;
	min-width: 15em;
	height: 410px;
	@extend %skeleton-animation;
}
