@use "../../../../styles/utilities/container";
@use "../../../../styles/utilities/flexible-container";
@use "../../../../styles/utilities/theme";

.header {
	@include container.wrapper;
	justify-content: center;
	min-width: 100%;
	background-color: var(--secondary-color-1);

	.header-container {
		@include flexible-container.vertical(1em);
		justify-content: flex-end;
		align-items: center;
		min-height: 85vh;
		padding-top: 3em;
		padding-inline: 2em;
		background:
			linear-gradient(transparent, var(--secondary-color-1)),
			url("/resources/images/header.jpg");
		background-size: contain;
		background-repeat: no-repeat;
	}
	.hero {
		margin-bottom: 1em;
		.title {
			font-family: serif;
			font-weight: 1000;
			font-size: 4.4rem;
			color: var(--primary-color-1);
		}
		.subtitle {
			font-family: var(--accent-font);
			font-weight: 800;
			font-size: 3.2rem;
			color: var(--primary-color-2);
		}
	}
}
