@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");

* {
	--color-1: #00080a;
	--a-color-1: #00080a70;
	--color-2: #c9cad1;
	--a-color-2: #c9cad170;
	--color-3: antiquewhite;
}

html,
body {
	margin-top: 0;
	padding-top: 0;
	min-height: 100vh;
	height: fit-content;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 7em;
	font-size: 10px;
}
body {
	display: flex;
	flex-direction: column;
	color: var(--color-1);
	max-width: 100vw;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

a {
	text-decoration: none;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-1);
}
.header-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 85vh;
	gap: 1em;
	padding-top: 3em;
	padding-inline: 2em;
	background:
		linear-gradient(transparent, var(--color-1)),
		url(/resources/images/IMG_20200723_101807_550-EDIT.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
.hero {
	margin-bottom: 1em;
}
.hero .title {
	font-family: serif;
	font-weight: 1000;
	font-style: normal;
	font-size: 7rem;
	color: var(--color-2);
}
.hero .subtitle {
	font-family: "Explora", serif;
	font-weight: 800;
	font-style: normal;
	font-size: 5rem;
	color: var(--color-3);
}
.navbar {
	justify-content: center;
	position: sticky;
	top: -1px;
	z-index: 10;
	margin: 0;
	padding-block: 1em;
	padding-inline: 1em;
	border: 0;
	border-radius: 0;
	backdrop-filter: blur(5px);
	background: #00080afa;
}
.navlinks {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 1.5em;
	row-gap: 0.5em;
}
.navlinks a {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-2);
}
.main {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	overflow-x: hidden;
	min-height: max-content;
}
.main[data-name="home"] {
	background: linear-gradient(120deg, antiquewhite, whitesmoke);
}
.site-section .content-layer {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-block: 3em;
	padding-inline: 1.5em;
}

.site-section hr {
	margin-block: 0;
	margin-inline: auto;
}

.site-section .background-layer::after {
	display: block;
	width: 75%;
	height: 1px;
	background: #00080a70;
	content: "";
	margin-inline: auto;
}

.site-section:last-child .background-layer::after {
	content: none;
}

.view-more {
	font-size: 2rem;
	color: var(--color-1);
	border-radius: 0;
	max-width: fit-content;
	margin-top: 1em;
	align-self: self-end;
}

.section-title {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 5rem;
}

.subsection-title {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	color: var(--color-1);
	text-transform: uppercase;
}

.coming-soon-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50vh;
	padding: 2em;
	background: linear-gradient(to right, #00080a, #00080aee, #00080a);
	color: white;
}

.banner-text {
	font-family: "Explora";
	font-size: 10rem;
}

.image-card {
	display: flex;
	background: linear-gradient(to bottom, #00080aee, #00080a);
	color: white;
}

.image-card[data-orientation="horizontal"] {
	flex-direction: row;
}

.image-card:is([data-orientation="flexible"], [data-orientation="vertical"]) {
	flex-direction: column;
	max-width: 100%;
}

.image-card .card-thumbnail {
	object-fit: cover;
}

.image-card .card-details,
.plain-card {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 0.5em;
	padding: 1em;
	overflow-wrap: anywhere;
	overflow: hidden;
}

.image-card .card-details {
	flex: 1;
}

.linked-image-card:hover {
	transition: 0.2s;
	transform: scale(1.02);
}

.post-preview {
	min-height: 100%;
	max-height: inherit;
	min-width: 50vw;
}

.image-card.post-preview .card-thumbnail {
	width: 100%;
	max-height: 6em;
	object-fit: cover;
}

.post-preview .title {
	font-family: serif;
	font-weight: 400;
	font-size: 1.7rem;
}

.post-preview[data-orientation="vertical"] .snippet {
	display: none;
}

.post-preview .byline {
	color: var(--color-2);
	font-size: 1.3rem;
}

.image-card.post-preview:is(
		[data-orientation="flexible"],
		[data-orientation="horizontal"]
	)
	.card-thumbnail {
	max-height: 100%;
	object-fit: cover;
}

.post-preview.post-preview:is(
		[data-orientation="flexible"],
		[data-orientation="horizontal"]
	)
	.title {
	font-size: 2.3rem;
}

.post-preview:is([data-orientation="flexible"], [data-orientation="horizontal"])
	.snippet {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	font-size: 1.6rem;
}

.post-preview:is([data-orientation="flexible"], [data-orientation="horizontal"])
	.byline {
	font-size: 1.3rem;
}

.grid-container {
	display: grid;
	gap: 1em;
}

.grid-container[data-overflow="true"] {
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
}

.grid-container[data-overflow="true"][data-orientation="vertical"] {
	overflow-x: hidden;
	overflow-y: scroll;
}

.grid-container[data-overflow="true"][data-orientation="vertical"] {
	grid-template-rows: repeat(3, 1fr);
}

.grid-container[data-overflow="true"][data-orientation="vertical"][data-maxxory="2"] {
	grid-template-rows: repeat(2, 1fr);
}

.grid-container[data-overflow="true"][data-orientation="horizontal"] {
	grid-template-columns: repeat(3, 1fr);
}

.grid-container[data-overflow="true"][data-orientation="horizontal"][data-maxxory="2"] {
	grid-template-columns: repeat(2, 1fr);
}

.flexible-container {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.flexible-container > * {
	flex: 1;
}

.book-preview {
	width: 100%;
}

.image-card.book-preview .card-thumbnail {
	max-height: 40vh;
}

.book-preview .title {
	font-size: 2.3rem;
	color: white;
	overflow: hidden;
}

.book-preview .author {
	font-size: 1.3rem;
	color: var(--color-2);
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	padding: 3em;
	justify-content: center;
	align-items: center;
	gap: 2em;
	min-height: 10em;
	background-color: #fff;
}

hr {
	width: 75vw;
	border-top: 1px solid var(--color-1);
}

.copyright {
	min-width: fit-content;
	text-align: center;
}

.socials {
	display: flex;
	gap: 1.5rem;
	font-size: 2rem;
}

.socials a {
	color: var(--color-1);
}

.site-section[data-sectionname="bio"] .background-layer {
	background: url(/resources/images/bio.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: top right;
}

.site-section[data-sectionname="portfolio"] .background-layer {
	background: url("/resources/images/icon (5).png");
	background-position: bottom right;
	background-repeat: no-repeat;
}

.site-section[data-sectionname="art"] .background-layer {
	overflow: hidden;
	background-color: var(--color-1);
	background-image: url(/resources/images/Abstract-Flower-Like-Shape_bg_light_2.png);
	background-position: bottom left;
	background-repeat: no-repeat;
}

.site-section[data-sectionname="art"] .section-title {
	color: var(--color-3);
}

.site-section[data-sectionname="blog"] .background-layer {
	background-image: url(/resources/images/Abstract-Flower-Like-Shape_bg_dark_2.png);
	background-position: top left;
	background-repeat: no-repeat;
}

.site-section[data-sectionname="blog"] .content-layer {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.site-section[data-sectionname="reading-list"] .background-layer {
	background: url(/resources/images/Axonometric_cubes_c_pmm.svg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
}

.art-image {
	max-height: 60vh;
	min-width: 100%;
	object-fit: cover;
	filter: brightness(1.2);
}

.site-subsection {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

@media (min-width: 768px) {
	.site-section .background-layer::after {
		width: 75%;
		margin-inline: 0;
		margin-left: 3em;
	}
	.site-section .content-layer {
		text-align: justify;
		padding-left: 3em;
		padding-right: 0;
		max-width: 70vw;
	}
	.site-section hr {
		width: 70vw;
		margin-left: 3em;
	}
	.image-card[data-orientation="flexible"] {
		flex-direction: row;
		max-height: 11em;
		min-height: 100%;
	}
	.image-card .card-thumbnail {
		max-height: 50vh;
	}
	.image-card[data-orientation="flexible"] .card-thumbnail {
		min-height: 100%;
		max-height: inherit;
		max-width: 30%;
	}
	.image-card.linked-image-card:hover[data-orientation="flexible"] {
		transform: scale(1.04);
	}
	.post-preview {
		min-width: auto;
	}
	.book-preview {
		max-width: 33vw;
		max-height: 11em;
	}
	.site-section[data-sectionname="bio"] .background-layer {
		background-size: 22%;
	}
	.site-section[data-sectionname="portfolio"] .background-layer {
		background-size: 50%;
	}
	.site-section[data-sectionname="art"] .background-layer {
		background-size: 50%;
	}
	.site-section[data-sectionname="blog"] .background-layer {
		background-size: 50%;
	}
	.site-section[data-sectionname="reading-list"] .background-layer {
		background-size: 55%;
	}
	.site-section[data-sectionname="art"] .content-layer {
		max-width: 100%;
	}
	.flexible-container > * {
		flex: unset;
	}
	.grid-container {
		max-height: unset;
	}
	.grid-container[data-orientation="horizontal"] {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-container[data-orientation="horizontal"][data-maxxory="2"] {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-container[data-orientation="vertical"] {
		grid-template-rows: repeat(3, 1fr);
	}
	.grid-container[data-orientation="vertical"][data-maxxory="2"] {
		grid-template-rows: repeat(2, 1fr);
	}
	/* .site-section.reading-list p {
      max-width: 70vw;
  } */
}
