@use "../../../../../app-library/styles/utilities/grid-container";
@use "../../../../../app-library/styles/utilities/layout";
@use "../../../../../app-library/styles/utilities/flexible-container";

.site-section[data-sectionname="blog"] {
	.content-layer {
		@include flexible-container.vertical(2em);
	}
}

.recent-posts-container {
	@include grid-container.grid(3, horizontal, true, false);
	.post-preview,
	.image-card-skeleton {
		width: 70vw;
	}
	.post-preview {
		min-height: 100%;
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.recent-posts-container {
		@include grid-container.grid(3, horizontal, true, true);
		.post-preview,
		.image-card-skeleton {
			// Unset
			width: auto;
		}
	}
}
