@keyframes skeleton-loading {
	0% {
		background-color: #00080a90;
	}

	100% {
		background-color: #88888890;
	}
}

%skeleton-animation {
	opacity: 0.7;
	animation: skeleton-loading 1s linear infinite alternate;
}

.image-card-skeleton {
	display: flex;
	min-width: 100%;
	max-width: 100%;
	background-color: transparent;
	gap: 0.2em;
}

.image-card-skeleton[data-orientation="horizontal"] {
	flex-direction: row;
	min-height: 5em;
	max-height: 5em;
}

.image-card-skeleton:is([data-orientation="horizontal"]) .card-thumbnail {
	min-height: 100%;
	max-height: inherit;
	width: 30%;
}

.image-card-skeleton:is(
		[data-orientation="flexible"],
		[data-orientation="vertical"]
	) {
	flex-direction: column;
	min-width: 50vw;
	min-height: 30vh;
	max-height: 100%;
	background-color: transparent;
	gap: 0.2em;
}

.image-card-skeleton .card-thumbnail,
.image-card-skeleton .card-details {
	@extend %skeleton-animation;
}

.image-card-skeleton:is(
		[data-orientation="flexible"],
		[data-orientation="vertical"]
	)
	.card-thumbnail {
	min-height: 20vh;
}

.image-card-skeleton .card-details {
	flex: 1;
}

@media (min-width: 768px) {
	.image-card-skeleton:is(
			[data-orientation="flexible"],
			[data-orientation="vertical"]
		) {
		min-width: unset;
	}
	.image-card-skeleton:is(
			[data-orientation="flexible"],
			[data-orientation="horizontal"]
		) {
		flex-direction: row;
		max-height: 11em;
		min-height: 11em;
	}
	// .image-card-skeleton .card-thumbnail {
	// 	height: 40vh;
	// }
	.image-card-skeleton:is(
			[data-orientation="flexible"],
			[data-orientation="horizontal"]
		)
		.card-thumbnail {
		min-height: inherit;
		max-height: inherit;
		width: 30%;
	}
}
