@use "../../../../styles/utilities/container";

.carousel {
	@include container.wrapper;

	.embla {
		margin-inline: auto;
		overflow: visible;
		max-width: 100%;
		margin-left: -2em;

		.embla__container {
			$-slide-spacing: 1rem;
			$-slide-size: 40%;

			display: flex;
			touch-action: pan-y pinch-zoom;
			margin-left: calc($-slide-spacing * -1);

			.embla__slide {
				transform: translate3d(0, 0, 0);
				flex: 0 0 $-slide-size;
				min-width: max(100%, max-content);
				padding-left: $-slide-spacing;
			}
		}
	}
}
