@use "../../../../styles/utilities/layout";
@use "../../../../styles/utilities/container";
@use "../../../../styles/utilities/image-card-details-text";
@use "../../../../styles/utilities/objects";

.portfolio-item {
	@include container.wrapper;
	.linked-component {
		@include objects.expansive;
		.image-card {
			@include objects.expansive;
		}
	}
	.title {
		@include image-card-details-text.title(false);
	}
	.description {
		@include image-card-details-text.body(false);
	}
	.category-container {
		@include image-card-details-text.footnote;
		.category {
			font-style: italic;
		}
		margin-top: auto;
		color: var(--primary-color-1);
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.portfolio-item {
		.title {
			@include image-card-details-text.title(true);
		}
		.description {
			@include image-card-details-text.body(true);
		}
	}
}
