@use "../../../../styles/utilities/image-card-details";
@use "../../../../styles/utilities/text";

.book-preview {
	display: flex;

	> * {
		flex: 1;
	}
	.title {
		@include image-card-details.title(false);
	}
	.author {
		@include image-card-details.footnote;
	}
}

@media (min-width: 768px) {
	.book-preview {
		.title {
			@include image-card-details.title(true);
			@include text.text-clip(3);
			font-size: 1.9rem;
		}
	}
}
