.grid-container {
	display: grid;
	gap: 1em;
}

.grid-container[data-overflow="true"] {
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
}

.grid-container[data-overflow="true"][data-orientation="vertical"] {
	overflow-x: hidden;
	overflow-y: scroll;
}

@media (min-width: 768px) {
	.grid-container {
		max-height: unset;
	}
}
