@use "../../../../styles/utilities/flexible-container";

.site-subsection {
	@include flexible-container.vertical(1em);

	> .title {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.05rem;
		color: var(--secondary-color-1);
		text-transform: uppercase;
	}
}
