@use "../../../../styles/utilities/image-card-details";

.post-preview {
	display: flex;
	min-height: 100%;
	max-height: inherit;
	min-width: 70vw;

	> * {
		flex: 1;
	}

	.title {
		@include image-card-details.title(false);
		font-family: serif;
		font-weight: 400;
		font-size: 1.7rem;
	}
	.byline {
		@include image-card-details.footnote;
	}

	// Too lazy to separate out featured-post-preview atm
	.image-card:is(
			[data-orientation="flexible"],
			[data-orientation="horizontal"]
		) {
		.title {
			@include image-card-details.title(false);
		}
		.snippet {
			@include image-card-details.body(false);
		}
		.byline {
			@include image-card-details.footnote;
		}
	}
}

@media (min-width: 768px) {
	.post-preview {
		min-width: auto;
		.image-card:is(
				[data-orientation="flexible"],
				[data-orientation="horizontal"]
			) {
			.title {
				@include image-card-details.title(true);
			}
			.snippet {
				@include image-card-details.body(true);
			}
			.byline {
				@include image-card-details.footnote;
			}
		}
	}
}
