@use "../../../../styles/utilities/image-card-details-text";
@use "../../../../styles/utilities/layout";
@use "../../../../styles/utilities/objects";
@use "../../../../styles/utilities/container";

.post-preview {
	@include container.wrapper;

	.linked-component {
		@include objects.expansive;
		.image-card {
			@include objects.expansive;
		}
	}

	.title {
		@include image-card-details-text.title(false);
		font-family: serif;
		font-weight: 400;
		font-size: 1.06rem;
	}
	.byline {
		@include image-card-details-text.footnote;
	}

	// TODO: Won't fill height for FeaturedPostPreview card details for some reason
	// Too lazy to separate out .featured-post-preview atm
	.image-card:is(
			[data-orientation="flexible"],
			[data-orientation="horizontal"]
		) {
		.title {
			@include image-card-details-text.title(false);
		}
		.snippet {
			@include image-card-details-text.body(false);
		}
		.byline {
			@include image-card-details-text.footnote;
		}
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.post-preview {
		.image-card:is(
				[data-orientation="flexible"],
				[data-orientation="horizontal"]
			) {
			.title {
				@include image-card-details-text.title(true);
			}
			.snippet {
				@include image-card-details-text.body(true);
			}
		}
	}
}
