@use "../../../../styles/utilities/image-card-details-text";
@use "../../../../styles/utilities/layout";
@use "../../../../styles/utilities/objects";
@use "../../../../styles/utilities/container";

.post-preview {
	@include container.wrapper;
	& {
		.title {
			@include image-card-details-text.title(false);
			@include text.limit-lines(2);

			font-family: serif;
			font-weight: 400;
			font-size: 1.06rem;
		}
		.byline {
			@include image-card-details-text.footnote;

			color: var(--primary-color-1);
		}

		// Will do to select Featured Post for now
		.image-card:is(
				[data-orientation="flexible"],
				[data-orientation="horizontal"]
			) {
			.title {
				@include image-card-details-text.title(false);
				@include text.limit-lines(2);
			}
			.snippet {
				@include image-card-details-text.body(false);
				@include text.limit-lines(7);
			}
			.byline {
				@include image-card-details-text.footnote;
			}
		}
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.post-preview {
		.image-card:is(
				[data-orientation="flexible"],
				[data-orientation="horizontal"]
			) {
			.title {
				@include image-card-details-text.title(true);
			}
			.snippet {
				@include image-card-details-text.body(true);
				@include text.limit-lines(5);
			}
		}
	}
}
