@use "../utilities/layout";
@use "../utilities/text";

html {
	@include layout.page;
	scroll-padding-top: 2em;
	font-size: 10px;
}

body {
	@include layout.body;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
	@include text.heading;
}
