@use "../utilities/layout";
@use "../utilities/text";

* {
	box-sizing: border-box;
}

html {
	@include layout.page;
	scroll-padding-top: 2em;
}

body {
	@include layout.body;
	font-size: 1.25rem;
}

p {
	@include text.paragraph;
}

h1,
h2,
h3,
h4,
h5 {
	@include text.heading;
}
