$maxHorizontalHeight: 11em;
$maxVerticalHeight: 60vh;
$minVerticalWidth: 100%;
$maxHorizontalThumbnailWidth: 33%;

.image-card {
	display: flex;
	background: linear-gradient(to bottom, #00080aee, #00080a);
	color: white;
	max-width: 100%;
}

.image-card[data-orientation="horizontal"] {
	flex-direction: row;
	max-height: $maxHorizontalHeight;
	min-height: 100%;
}

.image-card:is([data-orientation="flexible"], [data-orientation="vertical"]) {
	flex-direction: column;
	max-height: $maxVerticalHeight;
}

.image-card .card-thumbnail {
	object-fit: cover;
}

.image-card[data-orientation="horizontal"] .card-thumbnail {
	width: $maxHorizontalThumbnailWidth;
	height: auto;
}

.image-card:is([data-orientation="flexible"], [data-orientation="vertical"])
	.card-thumbnail {
	width: auto;
}

.image-card .card-details,
.plain-card {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 0.5em;
	padding: 1em;
	overflow-wrap: anywhere;
	overflow: hidden;
}

.image-card .card-details {
	flex-grow: 1;
}

@media (min-width: 768px) {
	.image-card[data-orientation="flexible"] {
		flex-direction: row;
		max-height: $maxHorizontalHeight;
		min-height: 100%;
	}
	// .image-card .card-thumbnail {
	// 	max-height: inherit;
	// }
	.image-card:is([data-orientation="flexible"]) .card-thumbnail {
		width: $maxHorizontalThumbnailWidth;
		height: auto;
	}
}
