@mixin x-rule($--is-widescreen: false) {
	display: block;
	width: 75%;
	height: 1px;
	background: var(--secondary-a-color-3);
	content: "";
	@if $--is-widescreen == true {
		margin-inline: 0;
		margin-left: 3em;
	} @else {
		margin-inline: auto;
	}
}
