@use "./text";

@mixin title($--is-widescreen: false) {
	@include text.text-clip(2);
	@if $--is-widescreen == true {
		font-size: calc(2.1rem + 0.2vw);
	} @else {
		font-size: calc(2.3rem + 0.2vw);
	}
	color: var(--secondary-color-4);
}

@mixin body($--is-widescreen: false) {
	@include text.text-clip(5);
	line-height: 170%;
	@if $--is-widescreen == true {
		font-size: calc(1.1rem + 0.2vw);
	} @else {
		font-size: calc(1.5rem + 0.2vw);
	}
}

@mixin footnote {
	font-size: 1.3rem;
	color: var(--primary-color-1);
}
