* {
	--primary-color-1: #c9cad1;
	--primary-a-color-1: #c9cad170;
	--primary-color-2: antiquewhite;
	--primary-color-3: whitesmoke;
	--primary-color-4: #fff;
	--secondary-color-1: #00080a;
	--secondary-a-color-1: #00080afa;
	--secondary-a-color-2: #00080aee;
	--secondary-a-color-3: #00080a70;
	--accent-color-1: #e99767;
}

html,
body {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
	color: var(--secondary-color-1);
}

body a {
	transition: color 0.15s ease;
}

body a:hover {
	color: var(--accent-color-1);
}

a {
	color: var(--secondary-color-1);
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
}
