@use "../utilities/theme";
@use "../utilities/animations";

@include theme.configure(
	#c9cad1,
	antiquewhite,
	whitesmoke,
	#fff,
	#00080a,
	#e99767
);

@include animations.configure(theme.$secondary-color-1, theme.$primary-color-1);

* {
	--primary-color-1: #{theme.$primary-color-1};
	--primary-a-color-1: #{theme.$primary-a-color-1};
	--primary-color-2: #{theme.$primary-color-2};
	--primary-color-3: #{theme.$primary-color-3};
	--primary-color-4: #{theme.$primary-color-4};
	--secondary-color-1: #{theme.$secondary-color-1};
	--secondary-a-color-1: #{theme.$secondary-a-color-1};
	--secondary-a-color-2: #{theme.$secondary-a-color-2};
	--secondary-a-color-3: #{theme.$secondary-a-color-3};
	--accent-color-1: #{theme.$accent-color-1};
}

@include theme.theme;

body {
	font-family: sans-serif;

	a {
		@include animations.text-color;
	}

	a:hover {
		color: var(--accent-color-1);
	}
}
