@use "../../../../styles/utilities/flexible-container";
@use "../../../../styles/utilities/effects";

.navbar {
	@include effects.blur;
	justify-content: center;
	position: sticky;
	top: -1px;
	z-index: 10;
	margin: 0;
	padding-block: 1em;
	padding-inline: 1em;
	font-size: 0.88rem;
	background: var(--secondary-a-color-1);

	.navlinks {
		@include flexible-container.horizontal;
		list-style-type: none;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		column-gap: 1.5em;
		row-gap: 0.5em;
	}
}
