@use "../../../../styles/utilities/flexible-container";
@use "../../../../styles/utilities/effects";
@use "../../../../styles/utilities/objects";
@use "../../../../styles/utilities/layout";

$-navbar-padding: 0.7em;

.navbar {
	@include effects.blur;
	@include effects.sticky(10);

	padding: $-navbar-padding;
	background: var(--secondary-a-color-1);

	.navlinks {
		@include objects.remove-insets;
		@include flexible-container.horizontal;
		@include flexible-container.center;

		flex-wrap: wrap;
		list-style-type: none;
		font-size: 0.88rem;
		column-gap: 1.5em;
		row-gap: 0.5em;
	}
}

// Factoring in sticky navbar
:root {
	scroll-padding-top: calc($-navbar-padding * 2 + 0.6em);
}

@media (min-width: layout.get-widescreen-bp()) {
	:root {
		scroll-padding-top: calc($-navbar-padding * 2);
	}
}
